/*
 Theme Name: WF College One Flex
 Description: Theme for the Wake Forest College built from a design by the WFU Instructional Technology Group. (This is the same basic layout and design as used in WF College One Pro.) This theme is essentially a rewrite of the WF College One Pro theme with several optimizations, some functionality moved out of the theme, into plugins (as is the current standard for themes according to WordPress.org), and made flexible for smaller screens..
 Author: Robert Vidrine
 Author URL: http://college.wfu.edu/itg/about-us/staff/robert-vidrine
 Version: 0.9
 License:
 License URI:
 Bitbucket Theme URI: rvidrine/wf-college-one-flex
 */
/* Built from style.scss using SASS */
/* ===== WordPress Required Styles===== */
/* Required Wordpress CSS classes */
.aligncenter, div.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.alignleft {
  float: left;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px; }

.alignright {
  float: right;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px; }

.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 5px; }

.wp-caption {
  background-color: #f3f3f3;
  border: 1px solid #ddd;
  -khtml-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  /* optional rounded corners for browsers that support it */
  font-size: 11px;
  line-height: 17px;
  margin: 10px;
  padding-top: 4px;
  text-align: center;
  line-height: 18px;
  padding: 4px; }
  .wp-caption img {
    margin: 5px 5px 0;
    border: 0 none;
    padding: 0; }

/* End of Wordpress required CSS classes */
/*===== Font Sizes =====*/
body {
  font-size: 16px; }

.super {
  vertical-align: super;
  font-size: smaller; }

.sub {
  vertical-align: sub;
  font-size: smaller; }

.allcaps {
  text-transform: uppercase; }

p {
  font-size: 16px; }

h1 {
  font-size: 28px;
  font-weight: bold; }

h2 {
  font-size: 22px;
  font-weight: bold;
  text-decoration: underline; }

h3 {
  font-size: 20px;
  font-weight: bold; }

h4 {
  font-size: 16px;
  font-weight: bold; }

h5 {
  font-size: 16px;
  font-weight: bold;
  text-decoration: underline; }

h6 {
  font-size: 16px;
  font-style: italic; }

.smallerText {
  font-size: small; }
/* styles for print only */
@media print {
  p {
    font-size: 12pt; }

  h1 {
    font-size: 24pt;
    font-weight: bold; }

  h2 {
    font-size: 20pt;
    font-weight: bold;
    text-decoration: underline; }

  h3 {
    font-size: 18pt;
    font-weight: bold; }

  h4 {
    font-size: 15pt;
    font-weight: bold; }

  h5 {
    font-size: 14pt;
    font-weight: bold; }

  h6 {
    font-size: 12pt;
    font-weight: bold; }

  #navMenu {
    display: none;
    float: left; }

  .super {
    vertical-align: super;
    font-size: smaller; }

  .sub {
    vertical-align: sub;
    font-size: smaller; } }
/* ===== Main Styles ===== */
.menu-toggle {
	display: none;
}
/* Hide screen reader text from all but screen readers */
.screen-reader-text {
	clip: rect(0px 0px 0px 0px);
	overflow: hidden;
	position: absolute;
}
body,
html {
  font: 100% Verdana, Arial, Helvetica, sans-serif;
  margin: 0;
  /* it's good practice to zero the margin and padding of the body element to account for differing browser defaults */
  padding: 0;
  text-align: center;
  /* this centers the container in IE 5* browsers. The text is then set to the left aligned default in the #container selector */
  color: #000000; }
  
/* Added with version 1.3 to support optional title in the header image */
#blogTitle {
	font-size: x-large;
	position: absolute;
	width: 50%;
	top: 125px;
	right: 0px;
	font-weight: bold;
}
/* end of blogTitle stuff from 1.3 */

#header {
	-webkit-box-ordinal-group: 1;  
  -moz-box-ordinal-group: 1;     
  -ms-flex-order: 1;     
  -webkit-order: 1;
	order: 1;
	height: auto;
	padding-top: 0;
	padding-right: 0px;
	padding-left: 0px;
	border-bottom-width: thin;
	border-bottom-style: solid;
	border-bottom-color: #82231c; }
  #header img first:child {
    margin-bottom: -4px; }

#header img, #footer img {
  border: none;
  padding: none;
  margin: 0px; }
/*.menu-link {
	display: none;
} */

/*set the montage image path here. Image should be 960px width, 110px height, or use the default haeder_montage.jpg. A larger or smaller montage will not work in the design unless other stuff is adjusted. */
#montage {
/* commented to test customizer
  background-image: url(images/header_montage.jpg);
*/
  height: 110px;
  width: 960px;
  background-repeat: no-repeat; }

#container {
  width: 960px;
  max-width:100%;
  /* the auto margins (in conjunction with a width) center the page */
  border: 1px solid #000000;
  text-align: left;
  /* this overrides the text-align: center on the body element. */
  background-color: #C1B58A;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  -moz-box-wrap: wrap;
  -webkit-box-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flexbox-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  display: flex;
  flex-flow: row wrap;
}

#sidebar-secondary {
	-webkit-box-ordinal-group: 5;  
  -moz-box-ordinal-group: 5;     
  -ms-flex-order: 5;     
  -webkit-order: 5;
	order: 5;
	padding-top: 5px;
	padding-bottom: 15px;
	padding-right: 5px;
	background: white;
	padding-left: 5px;
	max-width: 25%;
}
/* basic layout on mobile */

@media screen and (max-width: 800px) {
	#container {
		display: block;
		width: 100%;
	}
	#header img, #footer img {
		width: 100%;
		height: auto;
	}
	#blogTitle {
		display: block;
		width: 100%;
		clear: both;
		position: relative;
		padding: 0;
		margin: 0;
		text-align: center;
		top: 0;
	}
	#sidebar-header {
		color: white;
		height: 1.3em;
		padding: 0;
		background: #333;
		bottom: 0;
		position: fixed;
		width: 100%;
		clear: both;
		z-index: 9999;
	}
	#sidebar-primary, #menu-main {
		width: 100%;
	}
	.ddsmoothmenu-v ul li ul {
		display: block;
		float: none;
		left: 10px !important;
		clear: both;
		top: 2.5em !important;
		position: relative;
		width: 100% !important;
	}
	#sidebar-secondary {
		width: 100% !important;
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		max-width: 100%;
		padding: 0 5px;
	}
}
#pastLinks {
	-webkit-box-ordinal-group: 2;  
  -moz-box-ordinal-group: 2;     
  -ms-flex-order: 2;     
  -webkit-order: 2;
	order: 2;
	width: 100%;
  background-color: #C1B58A;
  padding-top: 2px;
  padding-bottom: 2px; }

#sidebar-primary {
	-webkit-box-ordinal-group: 3;  
  -moz-box-ordinal-group: 3;     
  -ms-flex-order: 3;     
  -webkit-order: 3;
	order: 3;
	padding-top: 10px;
	padding-bottom: 15px;
	-webkit-flex: 0 1;
	-webkit-box: 0 1;
	flex: 0 1;
}
#searchBox {
	font-size: 8px;
}

#mainContent {
	-webkit-box-ordinal-group: 4;  
	-moz-box-ordinal-group: 4;     
	-ms-flex-order: 4;     
	-webkit-order: 4;
	order: 4;
	-webkit-flex: 1 3;
	-webkit-box: 1 3;
	flex: 1 3;
	margin-top: 0px;
	margin-right: 0;
	margin-bottom: 0;
	padding-top: 1px;
	padding-right: 20px;
	padding-bottom: 10px;
	padding-left: 10px;
	background-color: #E7DCBA;
	/* min-height: 380px; */
}
.entry-content,
.entry-summary {
	padding: 12px 0 0 0;
}
/* set the footer image path here. The footer image should be 960px width and 65px height. Larger or smaller images may be used with minimal adjustments (probably just have to change size of #footer). */
#footer {
	-webkit-box-ordinal-group: 6;  
	-moz-box-ordinal-group: 6;     
	-ms-flex-order: 6;     
	-webkit-order: 6;
	order: 6;
	width: 100%;
	line-height: 1.2;
	font-size: 10px;
	color: white;
	background-image: url(images/footer.jpg);
	height: 65px;
	padding-top: 0px;
	padding-right: 5px;
	padding-bottom: 0;
	padding-left: 10px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #666;
	clear: both;
}
#footer p {
	color: white;
	font-size: 11px;
	line-height: 1.1em;
	margin: 0;
	padding: 10px 0;
}
.clearfloat {
  /* this class should be placed on a div or break element and should be the final element before the close of a container that should fully contain a float */
  clear: both;
  height: 0;
  font-size: 1px;
  line-height: 0px; }

/* ===== Styles for Horizontal Nav Menu Template ===== */
#hnavcontainer {
  background-color: #C1B58A;
  width: 960px;
  height: 32px; }

#footer #breadcrumbtrail {
  background-color: #625750;
  color: white;
  position: relative;
  top: -19px;
  padding-left: 10px;
  width: 950px;
  left: -10px; }
  #footer #breadcrumbtrail a {
    color: white; }

/* end of horizontal menu template styles */
/* ===== Style for News Custom Post-type ===== */
.news-sidebar-title {
  font-style: italic;
  font-weight: bold;
  padding-bottom: 0px;
  font-style: italics;
  text-decoration: underline; }

/* end of news post-type stuff */
/* ===== Hybrid Core Breadcrumb Trail CSS to Pad Before div.breadcrumbs ===== */
.breadcrumbs {
  padding-left: 5px; }

#footer-sidebar ul {
  padding: 0px;
  margin: 0px; }

.sidebar .entry-content {
  padding: 0px; }

#sidebar-header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  z-index: 100; }
#sidebar-header ul li {
	display: inline;
	float: right;
	position: relative;
	color: white;
	margin-right: .5em; }
#sidebar-header ul li a {
      color: white; }
#sidebar-header ul li#register_link {
	float: left;
	margin-left: 5px; }
#sidebar-header ul li#loginout_link {
	float: left;
	margin-left: 5px; }
#sidebar-header h3 {
	display: none; }

#searchform label {
  display: none; }

#searchform input#s {
  width: 100px; }

/* Make each post take up at least 150px height (size of featured image thumbnail) so that short excerpts don't mess up flow of post layout. */
.entry {
  min-height: 150px; }

/* since 0.9.4, CSS rule takes list padding and bullet off of ul and li direct child of .sidebar*/
.sidebar ul,
.sidebar ul li {
  list-style-type: none;
  padding-left: 0px; }

#sidebar-header ul, #sidebar-subsidiary ul {
  margin-top: 0px;
  margin-bottom: 0px; }

.private {
  display: none; }

.logged-in .private {
  display: block; }
